<a href="https://colab.research.google.com/github/Crackvenger/MySkillDataSceincePythonExercise/blob/main/(Exercise_3)_Python_Exercise_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Question 1

In [ ]:
# Buatlah code dari tipe integer menjadi variable, lalu print .
# contoh : age = 10 
# Type your code here

#Question 2

In [ ]:
#Konversikan tipe data variabel tersebut menjadi string
#Type your code here

#Question 3

In [ ]:
#Konversikan tipe data variabel tersebut menjadi float
#Type your code here

#Question 4

In [ ]:
#Buatlah pemrograman Python untuk menampilkan warna pertama dan terakhir dari tipe data list di bawah
color_list = ["Red","Green","White" ,"Black"]
# Type your code here

#Question 5

In [ ]:
# Cetak secara reverse list yang tersedia
# Contoh:
# Input : list = [10, 11, 12, 13, 14, 15]
# Output : [15, 14, 13, 12, 11, 10]
 
# membuat list
lst = [11, 5, 17, 18, 23, 50]
# Type your code here

#Question 6

In [ ]:
# hilangkan elements dari index 1 sampai 4
lst = [11, 5, 17, 18, 23, 50]
# Type your code here

#Question 7

In [ ]:
# Tuliskan Python program untuk menggabungkan dua dictrionary adding values untuk common keys.
# d1 = {'a': 100, 'b': 200, 'c':300}
# d2 = {'a': 300, 'b': 200, 'd':400}
# Sample output: Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

#Queston 8

In [ ]:
# Tuliskan Python program untuk menggabungkan dua dictionary Python
d1 = {'a': 100, 'b': 200}
d2 = {'x': 300, 'y': 200}

# Type your code here

# Question 9

In [ ]:
# Kembalikan item yang sama dari kedua set
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}
# expected output : {40, 50, 30}
# Type your code here

#QUestion 10

tuple vs list: https://towardsdatascience.com/python-tuples-when-to-use-them-over-lists-75e443f9dcd7

In [ ]:
# Reverse tipe data tupel di bawah
tuple1 = (10, 20, 30, 40, 50)

# expected output : (50, 40, 30, 20, 10)
# Type your code here